
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    

body{
    background-color: rgb(59, 66, 56);
    color: rgb(1, 46, 24);
    font-size: 25px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

  header {
  background-color: rgb(77, 17, 187);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(../img/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg);
  background-size: cover;
  background-position: center;
}
h1{
  color: white;
  background-color: rgba(150, 155, 154, 0.5);
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 10vw;

}
footer{
  background-color: rgb(0, 2, 37);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
.flex-item{
    flex-basis: calc(50% - 5px - 2px);
    flex-grow: 0;
    flex-shrink: 0;

    background-color: rgb(161, 136, 231);
    color: indigo;
    border: 2px solid black;
    border-radius: 10px;

    padding: 10px;
    margin: 0;
}

 .item1{
    background-color: rgb(73, 60, 192);
 }
 .kartinka,
.flex-item img {
    display: block;        
    max-width: 250px;      
    width: auto;           
    height: auto;         
    margin-top: 10px;      
    border-radius: 10px;   
}
 .item2{
    background-color: rgb(73, 60, 192);
 }
 .item3{
    background-color: rgb(73, 60, 192);
 }
 .item4{
    background-color: rgb(73, 60, 192);
 }
 .item5{
    background-color: rgb(73, 60, 192);
 }
 .item6{
    background-color: rgb(73, 60, 192);
 }
@media screen AND (max-width: 600px) AND (orientation: portrait){
  .flex-item {
  flex-basis: calc(50% - 10px);
  }
}